.App {
  width: 60%;
  margin: 0 auto;
  font-family: ‘Lato’, sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}
li span {
  padding: 8px;
}
li button {
  background: #F2360C;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}
li.low {
  border: 2px solid #1A681E;
  color: #1A681E;
}
li.high {
  border-color: red;
  color: #F2360C;
}

input[type=“text”] {
  padding: 10px;
  width: 50%;
  margin:5px;
}

button, input[type=“submit”]{
  padding: 10px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid #000;
}
